name: github-actions
run-name: build ausfuehren
on: [push]
jobs:
  check-bat-version:
    runs-on: windows-latest
    steps:
      - run: echo jetzt wird ausgecheckt
      - uses: actions/checkout@v3
      - run: jetzt wird node installiert
      - uses: actions/setup-node@v3
        with:
          node-version: '18'
      - uses: actions/upload-artifact@v3
        with:
          name: ediz-artifact
          path: ${{ github.workspace
                }}\out\make\squirrel.windows\x64\
      - run: node ist installiert und npm wird gerunnt
      - run: npm install
      - run: npm run build

